// generate flex colums 
@for $i from 1 through $grid-columns {
  .col-#{$i} {
    width: calc((100% / 12) * #{$i});
  }
}

// wrapper
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 1160px !important;
}

.row {
  display: flex !important;
  flex-wrap: wrap;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;

  @media (min-width: 576px) {
    flex: 0 0 50%; 
    max-width: 50%;
  }

  @media (min-width: 768px) {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

// generate responsive flex colums
@each $breakpoint, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 1 through $grid-columns {
      .col-#{$breakpoint}-#{$i} {
        width: calc((100% / 12) * #{$i});
      }
    }
  }
}