@media (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
  }
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px !important;
  }

  .tic-tac-toe {
    .boxes {

      height: 100px;
      width: 100px;


      svg {
        font-size: 36 !important;
      }
    }
  }

  .d-none {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 720px !important;
  }


}

@media screen and (max-width: 576px) {
  .container {
    max-width: 540px !important;
  }
}